---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4ZSo4IFxw0W7DrKtmaTuI8FG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14Sz2SFuLUPU4NdLktQWLNNI",
          "livemode": false,
          "created": 1408402544,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14Sz2SFuLUPU4NdLsRXaNZgS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "Pgt689xWewRkASyG",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Mon, 18 Aug 2014 22:55:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=test%40email.com&card=tok_14Sz2SFuLUPU4NdLktQWLNNI
    headers:
      Authorization:
      - Bearer sk_test_4ZSo4IFxw0W7DrKtmaTuI8FG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1408402545,
          "id": "cus_4cDTCP45CKNOL5",
          "livemode": false,
          "description": null,
          "email": "test@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4cDTCP45CKNOL5/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4cDTCP45CKNOL5/cards",
            "data": [
              {
                "id": "card_14Sz2SFuLUPU4NdLsRXaNZgS",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "Pgt689xWewRkASyG",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4cDTCP45CKNOL5"
              }
            ]
          },
          "default_card": "card_14Sz2SFuLUPU4NdLsRXaNZgS"
        }
  recorded_at: Mon, 18 Aug 2014 22:55:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_4cDTCP45CKNOL5&amount=999&description=charge%20of%20signup%20test%40email.com&currency=usd
    headers:
      Authorization:
      - Bearer sk_test_4ZSo4IFxw0W7DrKtmaTuI8FG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14Sz2UFuLUPU4NdLpeB3fNOu",
          "object": "charge",
          "created": 1408402546,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14Sz2SFuLUPU4NdLsRXaNZgS",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "Pgt689xWewRkASyG",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4cDTCP45CKNOL5"
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14Sz2UFuLUPU4NdLpeB3fNOu/refunds",
            "data": []
          },
          "balance_transaction": "txn_14Sz2UFuLUPU4NdLQWeDpXXt",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4cDTCP45CKNOL5",
          "invoice": null,
          "description": "charge of signup test@email.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Mon, 18 Aug 2014 22:55:47 GMT
recorded_with: VCR 2.9.2
