---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000020&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4ZSo4IFxw0W7DrKtmaTuI8FG
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card number is incorrect.",
            "type": "card_error",
            "param": "number",
            "code": "incorrect_number"
          }
        }
  recorded_at: Mon, 18 Aug 2014 22:41:49 GMT
recorded_with: VCR 2.9.2
