%section.admin_payments
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %section.payment_history
          %ul.nav.nav-tabs
            %li.active
              %a(href="") Recent Payments
            %li
              =link_to "Add a New Video", new_admin_video_path
          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Amount
                %th Reference ID
            %tbody
              - @billings.each do |billing|
                %tr
                  %td=billing.user.name
                  %td=billing.user.email
                  %td=billing.payment
                  %td=billing.user.stripe_user_id
